/* You can add global styles to this file, and also import other style files */
@import "./app/shared/variables";

html {
    background-color: $app-background;
    height: 100%;
}

.app-container {
    height: 100vh;
}

body {
    margin: 0;
}